extends layout

block content
  div.container
    include navbar
    div.row
      div.span12
        img.img-rounded(src="/img/superint-home.jpg")
    
    h3.text-info= pageContent.line0
    h4.muted= pageContent.line1
        
    h4.text-info= pageContent.paragraph1.title
    each line in pageContent.paragraph1.lines
        p= line
        
    h4.text-info= pageContent.paragraph2.title
    each line in pageContent.paragraph2.lines
        p= line  
    
    p
        strong= pageContent.ad0
    
    p
        strong= pageContent.ad1
