extends layout

block content
  div.container
    h1.muted= title
    include navbar
    div.row
      div.span12
        //img.img-rounded(data-src="holder.js/940x300")
        img.img-rounded(src="/img/superint-home.jpg")
    div.container-fluid
      div.row-fluid
        div.class.span4
          h3.text-info= pageContent.label1
          ul.unstyled
            each job,i in pageContent.jobs
              li: a(href="/career/#{i}")= job.title
          h4.text-warning= pageContent.label4
          small hr@superint.us
        div.class.span8
          h3.text-info= pageContent.jobs[jobId].title
          strong= pageContent.label2
          ol
            each line in pageContent.jobs[jobId].descriptions
              li= line
          strong= pageContent.label3
          ol
            each line in pageContent.jobs[jobId].requirements
              li= line
  
