extends layout

block content
  div.container
    include navbar
    div.row
      div.span12
        //img.img-rounded(data-src="holder.js/940x300")
        img.img-rounded(src="/img/superint-home.jpg")
    h3.text-info #{pageContent.headline}
    
    div.form-group
        h4.span3 #{pageContent.labels.email} ：
        ul.span9
            li #{pageContent.labels.sales} : sales@superint.us
            li #{pageContent.labels.customerRep} ： cs@superint.us
            li #{pageContent.labels.hr} ： hr@superint.us
            li #{pageContent.labels.others} ： info@superint.us
        
        
    div.form-group
        h4.span12 #{pageContent.labels.wechatName} ： superint
        
    div.form-group
        h4.span12 #{pageContent.labels.address} ： #{pageContent.address}

    div.form-group
        h4.span12 #{pageContent.labels.phone} ： 18918960529
        
        


