div.navbar
  div.navbar-inner
    div.container
      div.nav-collapse.collapse.navbar-responsive-collapse
        ul.nav
          li: a(href="/")= navMenus.menuHome
          li: a(href="/about")= navMenus.menuAbout
          
          li.dropdown
            a.dropdown-toggle(href="#", data-toggle="dropdown")= navMenus.menuProd[0]
              b.caret
            ul.dropdown-menu
              li.disabled
                a(href="/")= navMenus.menuProd[1][0]
              li: a(href="/product/ecom")
                strong= navMenus.menuProd[1][1]
              li.divider
              
              li.disabled
                a(href="/")= navMenus.menuProd[2][0]
              li: a(href="/product/eedu")= navMenus.menuProd[2][1]
              li.divider
              
              li.disabled
                a(href="/")= navMenus.menuProd[3][0]
              li: a(href="/product/oa")= navMenus.menuProd[3][1]
              li.divider
              
              li.disabled
                a(href="/")= navMenus.menuProd[4][0]
              li: a(href="/product/crm")
                strong= navMenus.menuProd[4][1]

          li.dropdown
            a.dropdown-toggle(href="#", data-toggle="dropdown")= navMenus.menuServ[0]
              b.caret
            ul.dropdown-menu
              li: a(href="/service/customize")= navMenus.menuServ[1]
              li.divider
              li: a(href="/service/sitebuild")= navMenus.menuServ[2]
              li.divider
              li: a(href="/service/appdev")= navMenus.menuServ[3]
              li.divider
              li: a(href="/service/wechatsale")= navMenus.menuServ[4]
          
          //- li: a(href="/solution")= navMenus.menuSolu
          //- li: a(href="/support")= navMenus.menuSupp
          li: a(href="/career/0")= navMenus.menuCarr
          li: a(href="/contact")= navMenus.menuCtac
